<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SampleText</title>
    <link rel="stylesheet" href="css/room.css">
    <script src="https://kit.fontawesome.com/05786d4824.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="top-container">
        <button>Leave Room</button>
    </div>
    <div class="bottom-container">
        <div class="users-container">
            bang
        </div>
        <div class="right-container">
            <div class="chat-container">
                <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quam, doloribus, et corporis deleniti voluptatum accusamus, ullam assumenda veritatis itaque dicta inventore ipsa odit est? Est inventore soluta similique. Quidem?</div>
                <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quam, doloribus, et corporis deleniti voluptatum accusamus, ullam assumenda veritatis itaque dicta inventore ipsa odit est? Est inventore soluta similique. Quidem?</div>
                <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quam, doloribus, et corporis deleniti voluptatum accusamus, ullam assumenda veritatis itaque dicta inventore ipsa odit est? Est inventore soluta similique. Quidem?</div>
                <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quam, doloribus, et corporis deleniti voluptatum accusamus, ullam assumenda veritatis itaque dicta inventore ipsa odit est? Est inventore soluta similique. Quidem?</div>
                <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quam, doloribus, et corporis deleniti voluptatum accusamus, ullam assumenda veritatis itaque dicta inventore ipsa odit est? Est inventore soluta similique. Quidem?</div>
                <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quam, doloribus, et corporis deleniti voluptatum accusamus, ullam assumenda veritatis itaque dicta inventore ipsa odit est? Est inventore soluta similique. Quidem?</div>
                <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quam, doloribus, et corporis deleniti voluptatum accusamus, ullam assumenda veritatis itaque dicta inventore ipsa odit est? Est inventore soluta similique. Quidem?</div>
                <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quam, doloribus, et corporis deleniti voluptatum accusamus, ullam assumenda veritatis itaque dicta inventore ipsa odit est? Est inventore soluta similique. Quidem?</div>
                <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quam, doloribus, et corporis deleniti voluptatum accusamus, ullam assumenda veritatis itaque dicta inventore ipsa odit est? Est inventore soluta similique. Quidem?</div>
            </div>
            <div class="message-container">
                <textarea placeholder="Enter Message" rows="1"></textarea>
                <div>
                    <i class="fa-solid fa-paper-plane"></i>
                    <p>Send</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/room.js"></script>
</body>
</html>